.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    border: 1px solid rgb(148, 146, 146);
}

.card-content{ 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
   
}
.card-descr{
    padding: 10px;
}

.card-footer{
    border-top: 1px solid rgba(51, 51, 51, 0.596);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    
}
.card-price{
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.699);
    padding: 0 10px;
    
}
